.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: white;  
}

.navbar-title h1 {
    color: #4a4a4a;
    margin: 0;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links li a {
    color: white;
    font-size: 18px;
    padding: 5px 10px;
}

.logo {
    
}