.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFEF6;;  
}

.navbar-title h1 {
    color: #4a4a4a;
    margin: 0;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding-right: 100px;
    display: flex;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links li a {
    color:#4a4a4a;
    font-size: 18px;
    padding: 5px 10px;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

