<div class="footer-transition"></div>
<footer class="footer">
    <div style="float:left; width: 33%;">
        <h2><i>Better Men</i></h2>
        <h2><i>Better Lives</i></h2>
    </div>

    <div style="text-align: center;">
        <p>© Copyright 2024 | Delta Sigma Phi Omega Chapter</p>
    </div>

    <div style="float:right; width: 33%; padding-left: 300px;">
        <h3><u>Follow Us</u></h3>
        <a href="https://www.instagram.com/deltasigpitt/" style="text-decoration: none; color:#FFFEF6">Insta</a>
    </div>
    
</footer>


