
.footer {
    background-color: #007A33;
    display: flex;
    height:120px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    color:white;
}

h2 {
    padding-left: 40px;
    text-shadow: #2a2a2a 1px 1px 0;
}
