<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <header>
        <h1>{{title}}</h1> 
        <h3>Omega Chapter </h3>
        <img src="./assets/images/dsiglogo.png" alt="Delta Sig Logo">
    </header>

    <main>
  
    <p>Welcome to the website of the Delta Sigma Phi Omega chapter at the University of Pittsburgh </p>
    <ol>    <li>YITBOS</li> <li>Better Men Better Lives</li>   </ol>
   
    <a href="https://deltasig.org/">Click here</a>

    

    </main>
    
    

    
</body>
</html>

<router-outlet />
