<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>{{title}}</h1> 
    <h3>Omega Chapter </h3>
</head>
<body>
    <p>Welcome to the website of the Delta Sigma Phi Omega chapter at the University of Pittsburgh </p>
    <ol>    <li>YITBOS</li> <li>Better Men Better Lives</li>   </ol>
    

    <a href="https://deltasig.org/">Click here</a>
    <br>
    <br>
    <img src="assets/images/deltasiglogo.png">

</body>
</html>

<router-outlet />
