/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html {background-color: #FFFEF6}

body{
    font-family: "Montserrat", sans-serif;
    color: #4a4a4a;
}

.segment {
    display: block;
    width: 100%;
    padding: 20px 150px;
    margin-bottom: 60px;
}

.segment-g {
    background-color: #007A33;
    color: white;
    display: block;
    width: 100%;
    padding: 20px 150px;
    margin-bottom: 60px;
}