<div class="segment">
    <div class="welcome">
        <h1>Welcome to the Omega Chapter of Delta Sigma Phi at the University of Pittsburgh</h1>
    </div>
</div>

<div class="segment">
    <h3>Thank you for visiting the online home of the Omega Chapter of Delta Sigma Phi!</h3><br>
    Our website is designed to strengthen connections with our alumni,
    share our history, and keep potential new members and their families informed about our chapter. Here, you'll find updates on our 
    recent activities and news, as well as insights into who we are and what we stand for.
</div>

<div class="segment-g">
    <h1 style="color: #EAAA00; text-decoration: underline;">Better Men. Better Lives.</h1> <br>
    We are proud to be a brotherhood of extraordinary men. Our goal is to inspire our members to become the best version of themselves and
    to make a positive impact on our communities and the world. <br><br>

    We are men who exhibit the <b>courage to dare</b>, the <b>poise to act</b>, and a <b>commitment to excellence</b> <br><br>


</div>





